@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Baskerville'  sans-serif;
    /* font-size: 65%; */
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(194, 172, 193);
}


.container{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: inherit;
    display: flex;
    align-items: center;
    align-content: center;
    max-width: 80rem;
    max-height: 70rem;
    box-shadow: 1px 5px 15px rgb(73, 49, 49);
    padding: 4rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all ease-in-out 0.10s;
}

p{
    font-size: 4rem;
    font-weight:600 ;
    font-family: inherit;
    cursor: pointer;
}

img{
    margin-right:  2rem;
    width: 5rem;
}


@media screen and(max-width : 900px ) {
    p{
        font-size: 3rem;
        font-weight:500 ;
        font-family: inherit;
        cursor: pointer;
    }
    img{
        margin-right:  1.5rem;
        width: 4rem;
    }
}
@media screen and(max-width : 764px ) {
    p{
        font-size: 2rem;
        font-weight:600 ;
        font-family: inherit;
        cursor: pointer;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr;

        max-height: 70rem;
        padding: 2rem;
    }
}

@media screen and (max-width: 500px){
    .container{
        padding: 2.5rem;
    }

    p{
        font-size: 2.5rem;
        font-weight: 800 ;
        font-family: inherit;
        cursor: pointer;
    }
    img{
        margin-right:  1.4rem;
        width: 4rem;
    }
}

